<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PlansParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <PlansParser.Properties.Settings>
      <setting name="PathToFineCmd" serializeAs="String">
        <value>C:\Program Files (x86)\ABBYY FineReader 12\FineCmd.exe</value>
      </setting>
      <setting name="GovAskaUrl" serializeAs="String">
        <value>http://askebsa.dol.gov/FOIA%20Files/{0}/All/</value>
      </setting>
      <setting name="AJAXFCTLogin" serializeAs="String">
        <value>vvk@inbox.com</value>
      </setting>
      <setting name="AJAXFCTPassword" serializeAs="String">
        <value>000b59c67bf196a4758191e42f76670ceba000</value>
      </setting>
      <setting name="DownloadGovPlansPdfThreadCount" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="FineCmdThreadCount" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="TorBrowserPath" serializeAs="String">
        <value>F:\Tor Browser\firefox.exe</value>
      </setting>
      <setting name="ScraperFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="DownloadPdfUrl" serializeAs="String">
        <value>https://12.158.148.210/portal/app/disseminate?execution=e13s2</value>
      </setting>
      <setting name="XlsToCsvConverThreadCount" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DownloadPdfMaxRetryCount" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="NeedTorBrowser" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BaseDirFolder" serializeAs="String">
        <value>F:\Rextema\Plans 03.01.2017\</value>
      </setting>
      <setting name="WordToReplace" serializeAs="String">
        <value>{"" : ["ii", "portfolio", "administrative", "Annuity", "fund", "class", "the", "inc"] }</value>
      </setting>
      <setting name="AJAXFCTUrl" serializeAs="String">
        <value>https://rixtrema.net/RixtremaWS401k/</value>
      </setting>
    </PlansParser.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AxFormsLaserPrint" publicKeyToken="4495254afeb8e356" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.37.0" newVersion="5.2.37.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PostingCore" publicKeyToken="4495254afeb8e356" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.5613.28540" newVersion="1.0.5613.28540" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Sedc.Upn.CA.NoteSystem" publicKeyToken="4495254afeb8e356" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.5613.28526" newVersion="1.0.5613.28526" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Sedc.Upn.CA.ServiceOrders" publicKeyToken="4495254afeb8e356" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.5613.28587" newVersion="1.0.5613.28587" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SedcUpnCore" publicKeyToken="4495254afeb8e356" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.5613.28522" newVersion="1.0.5613.28522" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SedcCore" publicKeyToken="4495254afeb8e356" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.5613.28517" newVersion="1.0.5613.28517" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>